*{
    margin: 0;
    
    padding: 0;
    box-sizing: border-box;
}
#whole{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}
.container{
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}
.container h1{
    text-align: center;
    font-size: 5rem;
}
.everypic{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.photos{
    width: 32%;
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}
.photos img{
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
}
.photos:hover img{
    transform: scale(1.5);
    transition: 0.5s;
    filter: grayscale(0%);

}
.photos caption{
    position: absolute;
    bottom: 0%;
    left:0%;
    padding: 25px;
    font-size: 15px;
    width: 100%;
    height: 30%;
    opacity: 1;
    color: white;
}
.photos:hover caption{
    
    opacity: 1;
    
}